.window {
  display: flex;
  flex-direction: column;
}

.window__titlebar {
  position: sticky;
}

.window__content {
  height: calc(100vh - 32px);
  overflow: auto;
}

.theme-dark .window {
  background: var(--theme-dark--gray1);
  color: #fff;
}