.titlebar {
  height: 32px;
  display: flex;
  user-select:  none;
  font-size: 10pt;
}

.titlebar__title {
  -webkit-app-region: drag;
  flex: 1;
  line-height: 32px;
  margin-left: 10px;
}

.titlebar__actions {
  display: flex;
}

.titlebar__action {
  width: 42px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-dark .titlebar {
  background: var(--theme-dark-gray3);
}

.theme-dark .titlebar__action:hover {
  background: var(--theme-dark-gray4);
  cursor: pointer;
}

.theme-dark .titlebar__action:active {
  background: var(--theme-dark-accent);
}