.theme-dark .rc-slider .rc-slider-rail {
  background-color: var(--theme-dark--gray4);
}

.theme-dark .rc-slider .rc-slider-track {
  background-color: transparent;
}

.theme-dark .rc-slider .rc-slider-handle {
  background-color: var(--theme-dark--gray6);
  border: none;
}

.theme-dark .rc-slider .rc-slider-handle:active {
  background-color: var(--theme-dark--accent);
  box-shadow: none;
}